<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeRush">
        <activity
            android:name=".multiplayer.MultiScore"
            android:exported="false" />
        <activity
            android:name=".multiplayer.MultiCreate"
            android:exported="false" />
        <activity
            android:name=".multiplayer.MultiLogin"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".Leaderboard"
            android:exported="false" />
        <activity
            android:name=".WaitingRoom"
            android:exported="false" />
        <activity
            android:name=".singleplayer.SingleScore"
            android:exported="false" />
        <activity
            android:name=".modes.Hard"
            android:exported="false" />
        <activity
            android:name=".modes.Normal"
            android:exported="false" />
        <activity
            android:name=".modes.Easy"
            android:exported="false" />
        <activity
            android:name=".Credits"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Difficulty"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CodeRush">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>